* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
title {
  display: none;
}

/* .wrapper {
  border: 3px solid black;
  width: 800px;
  height: 800 px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: hidden;
} */

button {
  display: flex;
  margin: auto;
  margin-top: 50px;
}
h1,
h2,
h3 {
  display: flex;
  justify-content: center;
}

.game {
  border: 3px solid black;
  width: 800px;
  height: 800px;
  margin: 70px auto;
  /* z-index: 200; */
  display: flex;
  flex-wrap: wrap;
}


.grass {
  position: relative;
  /* display: block; */
  background-image: url(grass.png);
  flex: 1 0 25%;
  background-repeat: no-repeat;
  width: 100px;
  height: 250px;
  z-index: 100;
  /* bottom: -30px; */
  background-size: cover;
  overflow: hidden;
 
  
}

.pokemon{
  position: absolute;
  bottom: 0;
  z-index: 1;

}
.image {
  
  bottom: 0; 
  transition: top 2s, left 2s;
  transition-timing-function: linear;
  /* position: absolute; */
  /* top: 0%; */
  height: 75%;
  width: 75%;
  background-position: bottom;
  
}
/* .image.up .image {
  top: -5px;
} */
/* top: 100%;
  width: 100%;
  height: 100%;
} 

/* @keyframes appear {
  from {
    bottom: -60px;
  }
  to {
    bottom: 0;
  }

.image {
  transition: top 2s;
  transition-timing-function: linear;
  background-repeat: no-repeat;
  transform-origin: bottom;
  animation-duration: 1s;
  animation-iteration-count: infinite;
} */
/* .image.up {
  top: 0;
}
.image {
  animation-name: image;
  animation-timing-function: ease;
}
@keyframes image {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
