* {
  box-sizing: border-box;
}
body {
  font-family: "Coda Caption", sans-serif;
  color: #fbe137;
  background-image: url("https://pa1.narvii.com/7288/b0bac31a96f24b565cc4742d3c35879eb0ed5b15r1-700-394_hq.gif");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-color: #80c423;
  margin: 0;
  position: relative;
  cursor: url("59-590145_pokeball-8-bit-pixel-art-pokemon-clipart.png"), auto;
}

.title {
  margin-top: 100px;
}

main {
  background-image: url("https://media-s3-us-east-1.ceros.com/hype-beast/images/2018/07/13/a9a51bc0b8d626db493ab5f9a971b043/background-hero.png");
  z-index: 2;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;

  top: 215px;
}
#button {
  display: flex;
  margin: auto;
  padding-left: 20px;
  width: 120px;

  font-size: 24px;
}
h1,
.subtitle {
  display: flex;
  justify-content: center;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  animation-name: hop;
  animation-timing-function: ease;
}
.subtitle {
  margin-left: 100px;
}

.score,
button {
  background-color: #0077b6;
  font-family: "Coda Caption", sans-serif;
  color: #fbe137;
  box-sizing: border-box;
  border: 2px #fbe137 solid;
}
.score {
  vertical-align: baseline;
  position: relative;
  width: 125px;
  padding: 10px;
  margin-left: 10px;
  top: 300px;
  font-size: 24px;
}
#restart {
  float: right;
  width: 120px;
  height: 56px;
  margin-right: 10px;
  top: 235px;
  position: relative;
  font-size: 24px;
  box-sizing: border-box;
}

.game {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
}

.grass {
  position: relative;
  flex: 1 0 25%;
  height: 200px;
  width: auto;
  padding-top: 50px;
  display: block;
  background-image: url(grass.png);
  width: 100%;
  height: 185px;
  background-size: cover;
  top: 10px;
}
footer {
  position: relative;
  top: 215px;

  background-color: #0077b6;
}
h5 {
  margin-top: 0px;
  text-align: center;
  padding-top: 5px;
}
.pokemon {
  position: absolute;
  bottom: 10px;
  z-index: -1;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.image {
  transition-timing-function: linear;
  height: 60px;
  width: 60px;
  margin-bottom: 12px;

  animation-duration: 2s;
  animation-iteration-count: infinite;

  animation-name: jump;
  animation-timing-function: ease;
}

.social {
  display: inline-block;
}
.social img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
#Left,
#right {
  margin-left: 5px;
}

a.link {
  filter: invert(100%);
}

button:hover {
  box-shadow: 15 15 15px #b3a700;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
  border-radius: 10%;
  background-color: blue;
  box-shadow: 0 0 10px #0077b6;
  text-shadow: 0 0 5px #b3a700;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-130px);
  }

  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes hop {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1105px) {
  body {
    background-color: blue;
  }

  .title {
    width: 800px;
    left: 30px;
  }
  .subtitle {
    width: 604 px;
    margin: auto;
  }
  main {
    top: 150px;
  }
  #restart {
    right: 45px;
  }
  footer {
    top: 150px;
  }
}
@media screen and (max-width: 950px) {
  .title {
    width: 700px;
    left: 30px;
  }
  .subtitle {
    width: 500px;
    margin: auto;
  }
  main {
    top: 100px;
  }
  #restart {
    right: 45px;
  }
  footer {
    top: 100px;
  }
  .game {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0px;
  }
  .score {
    height: 54px;
    width: 84px;
    font-size: 16px;
    padding: 5px;
    padding-top: 10px;
  }
  #restart {
    order: 1;
    height: 54px;
    width: 84px;
    margin-right: 10px;
    top: 255px;
    left: 0px;
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  .title {
    width: 500px;
    left: 30px;
  }
  .subtitle {
    width: 400px;
    margin-left: 200px;
  }
  h2 {
    align-content: center;
  }
}
@media screen and (max-width: 700px) {
  .title {
    width: 500px;
    left: 30px;
  }
  .subtitle {
    width: 400px;
    margin-left: 100px;
  }
  main {
    top: 60px;
  }
  footer {
    top: 60px;
  }
}
@media screen and (max-width: 600px) {
  body {
    flex-direction: column;
    display: flex;
  }
  .title {
    width: 400px;
    left: 30px;
  }
  /* .subtitle {
    width: 300px;
  } */

  main {
    top: 0px;
  }
  footer {
    top: 0px;
    padding-bottom: 10px;
  }
  .score {
    height: 34px;
    width: 64px;
    font-size: 12px;
    padding: 5px;
  }
  #restart {
    order: 1;
    height: 34px;
    width: 64px;
    margin-right: 10px;
    top: 265px;
    left: 0px;
    font-size: 12px;
  }
  #button {
    height: 34px;
    width: 64px;
    font-size: 12px;
    padding: 7px;
    padding-left: 12px;
  }
  .grass {
    position: relative;
    flex: 1 0 25%;
    height: 200px;
    width: auto;
    padding-top: 50px;
    display: block;
    background-image: url(grass.png);
    width: 100%;
    height: 185px;
    background-size: cover;
    top: 10px;
  }
  .game {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
  }
}
